@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bornia';
    src: url('./Fonts/Bornia-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Bornia';
    src: url('./Fonts/Bornia-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Bornia';
    src: url('./Fonts/Bornia-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Bornia';
    src: url('./Fonts/Bornia-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Bornia';
    src: url('./Fonts/Bornia-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Bornia';
    src: url('./Fonts/Bornia-Black.ttf');
    font-weight: 900;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Bornia', sans-serif
}

body{
    font: Bornia, medium;
    font-weight: 500;
}

button {
    cursor: pointer
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center
}

.modal-inner {
    background: #fff;
    padding: 18px;
    border-radius: 8px;
    width: 400px;
    max-width: 90%
}

.small {
    width: auto;
    padding: 6px 10px
}

.row {
    display: flex;
    gap: 8px
}


.card {
    background: #fff;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #eee
}

input,
textarea,
button {
    font-size: 14px;
    padding: 8px;
    margin-top: 6px;
    width: 100%
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 12px
}

#nav_num a{
    text-decoration: none
}

#bg_border{
    border: 2px solid red;
}

#bg_gr{
    border: 2px solid green;
}

#border_bg{
    border: 3px solid #DEB67B;
}

.border_contact_l{
    border: 2px solid #DEB67B;
}